body {
background: [Pink];
font-family: Serif, Arial, Verdana;
}
h1 {
color: [Black];
text-align: center;
}

.assign {
display: flex;
padding: 20px;
margin: 20px;
background: [Blue];
}
.assign img {
width: 210px;
padding: 9px;
}
