body {
background: [Red];
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: [Black];
text-align: center;
}

.assign {
display: flex;
padding: 15px;
margin: 15px;
background: [White];
}
.assign img {
width: 205px;
padding: 11px;
}
